:root {
  --basic-black: #000000;
  --basic-brown-darkest: #503E33;
  --basic-brown-darker: #604E43;
  --basic-brown: #766357;
  --basic-blue-darkest: #5496BD;
  --basic-blue-darker: #669EC0;
  --basic-blue: #81B3D2;
  --basic-gray-darkest: #333333;
  --basic-gray-darker: #666666;
  --basic-gray-dark: #6A6A6A;
  --basic-gray-special-darkest: #A9A9A9;
  --basic-gray-special-darker: #BDBBBC;
  --basic-gray-special: #EBEBEB;
  --basic-gray-special-light: #CACACA;
  --basic-gray-border:#E5E5E5;
  --basic-gray: #EEEEEE;
  --basic-gray-light: #F2F2F2;
  --basic-gray-toggle: #ABABAB;
  --basic-white: #FFFFFF;
  --basic-white-footer: rgba(255, 255, 255, 0.9);
  --basic-white-scale: rgba(255, 255, 255, 0.3);
}

*, *::before, *::after {
box-sizing: border-box;
}

body {
  min-width: 1300px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-gray-light);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-header,
.main-page,
.main-footer,
.hotels-page {
  width: 1200px;
  margin: 0 auto;
}

.main-header {
  background-color: var(--basic-white);
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
}

.main-header .container {
  width: 1054px;
  margin: 0 auto;
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}

.main-header-logo {
  width: 138px;
  height: 70px;
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
}

.main-navigation-wrapper {
  width: 100%;
  min-height: 56px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
}

.site-navigation,
.advantages-list,
.advice-list,
.social-list,
.infrastructure-list,
.sorting-list,
.hotels-list,
.type-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation a {
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.site-navigation a:not([href]) {
  color: var(--basic-brown);
}

.site-navigation li {

  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
}

.main-page {
  text-align: center;
}

.main-page-image {
  height: 509px;
  padding-top: 77.35px;
  margin-bottom: 42.5px;
  background-color: var(--basic-gray-special-darker);
  background-image: url("../img/background photo1.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
}

.main-page-image img {margin: 0;
outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;}

.main-page h1 {
  margin: 0;
  margin-bottom: 44.5px;
  font-size: 21px;
  line-height: 26px;
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
}

.advantages {outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;}

.advantages h2 {
  margin: 0;
  margin-bottom: 51px;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: var(--basic-gray-darkest);
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
}

.advantages-list {
  margin: 0;
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
}

.advantages-item {}

.advantages-list h3 {
  margin: 0;
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search {
  margin: 0;
  background-color: var(--basic-white);
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
}

.search p {
  margin: 0;
}

.search b {
  margin: 0;
  font-size: 30px;
  line-height: 24px;
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
}

.search p + p {
  line-height: 24px;
  color: var(--basic-gray-darkest);
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
}

.button {
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.form-button,
.search-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.form-button {

  background-color: var(--basic-brown);
}

.form-button:hover,
.form-button:focus {
  background-color: var(--basic-brown-darker);
}

.form-button:active {
  background-color: var(--basic-brown-darkest);
}

.form-button:active span,
.search-button:active span {
  mix-blend-mode: normal;
  opacity: 0.3;
}

.search-form label {
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
}

.search-item input {
  line-height: 26px;
  text-transform: uppercase;
  background-color: var(--basic-gray-light);
  border: 2px solid transparent;
}

.search-item input::placeholder {
  font-weight: bold;
  color: var(--basic-black);
}

.search-item input:hover {
  background-color: var(--basic-gray-special);
}

.search-item input:focus {
  background-color: var(--basic-white);
  outline: none;
  border: 2px solid var(--basic-gray-border);
}

.search-item .button {
  background-color: var(--basic-white);
}

.search-item svg:hover path,
.search-item svg:focus path,
.search-item svg:hover rect,
.search-item svg:focus rect {
  fill: var(--basic-black);
}

.search-item svg:active path,
.search-item svg:active rect {
  fill: var(--basic-blue);
}

.search-button {
  background-color: var(--basic-blue);
}

.search-button:hover,
.search-button:focus {
  background-color: var(--basic-blue-darker);
}

.search-button:active {
  background-color: var(--basic-blue-darkest);
}

.main-footer {
  background: var(--basic-white-footer);
}

.main-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1054px;
  min-height: 120px;
  margin: 0 auto;
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
}

.footer-contacts {
  width: 327px;
  padding-top: 23px;
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
}

.footer-contacts p {
  width: 251px;
  margin: 0 auto;
  margin-bottom: 9px;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
}

.footer-contacts a {
  color: var(--basic-black);
}

.footer-social {
  width: 400px;
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.social-list li {
  width: 46px;
  height: 48px;
  margin: 0;
  margin-right: 6px;
  text-align: center;
  background-color: var(--basic-blue);
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
}

.social-list a {
  display: block;
  width: 46px;
  height:48px;
}

.social-list li:hover,
.social-list li:focus {
  background-color: var(--basic-blue-darker);
}

.social-list li:active {
  background-color: var(--basic-blue-darkest);
}

.social-list li:active img {
  mix-blend-mode: normal;
  opacity: 0.3;
}

.footer-copyright {
  width: 327px;
  margin: 0;
  line-height: 26px;
  text-align: center;
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
}

.footer-copyright span,
.footer-copyright a {
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
}

.footer-copyright span {
  margin-right: 5px;
}

.footer-copyright svg {
  vertical-align: middle;
}

.footer-copyright svg:hover path,
.footer-copyright svg:focus path {
  fill: var(--basic-blue);
  outline: none;
}

.footer-copyright svg:active path {
  fill: var(--basic-gray-special-darker);
  outline: none;
}

.hotels-selection .container,
.found-hotels .container {
  width: 1054px;
  margin: 0 auto;
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
}

.hotels-selection {
  color: var(--basic-white);
  background-color: var(--basic-black);
  background-image: url("../img/background-hotels1.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.hotels-selection legend {
  font-size: 16px;
  line-height: 21px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 317px;
}

.range-controls {
  position: relative;
  padding-top: 20px;
  height: 50px;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--basic-white-scale);
}

.range-controls .bar {
  width: 248px;
  height: 2px;
  background-color: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  top: 12px;
  left: 0;
  width: 3px;
  height: 3.82px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-gray-toggle);
  border-radius: 9.5px / 9.545px;
  box-shadow: 0 1.91px 1px 0 var(--basic-gray-toggle);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 0px;
}

.range-controls .toggle-max {
  left: 240px;
}

.range-controls .toggle:hover,
.range-controls .toggle:hover {
  top: 10px;
  width: 4.6px;
  height: 4.36px;
  padding: 0;
  border: 9.2px solid var(--basic-white);
  background-color: var(--basic-gray-toggle);
  border-radius: 11.5px / 12px;
}

.show-button {
  background-color:transparent;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.show-button:hover,
.show-button:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.found-hotels {
  display: flex;
  flex-direction: column;
  background-color: var(--basic-white);
}

.sorting-list {

}

.hotels-list {
  display: flex;
  flex-direction: column;
}

.hotels-list h3 {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.hotels-list h3:hover,
.hotels-list h3:focus {
  color: var(--basic-blue);
}

.hotels-list h3:active {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.hotels-list li {
  display: grid;
  height: 150px;
  grid-template-columns: 164px 363px 400px 127px;
  grid-template-rows: 1fr 1fr 1fr;
}

.hotels-list .hotel-image {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}

.hotels-list a {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.hotels-list .hotel-stars {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.hotels-list .hotel-type {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  color: var(--basic-gray-darkest);
}

.hotels-list .buttons {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.book-button,
.details-button {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
}

.book-button {
  background-color: var(--basic-brown);
}

.book-button:hover,
.book-button:focus {
  background-color: var(--basic-brown-darker);
}

.book-button:active {
  background-color: var(--basic-brown-darkest);
}

.book-button:active span,
.details-button:active span {
  mix-blend-mode: normal;
  opacity: 0.3;
}

.details-button {
  background-color: var(--basic-blue);
}

.details-button:hover,
.details-button:focus {
  background-color: var(--basic-blue-darker);
}

.details-button:active {
  background-color: var(--basic-blue-darkest);
}

.hotels-list .hotel-rating {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  color: var(--basic-gray-darker);
  background-color: var(--basic-gray-light);
}

